.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;

  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.list_item {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  text-align: start;
  gap: 40px;
  padding: 48px;
  width: 596px;
  border-radius: 24px;
}

.list_title {
  color: var(--secondary-color);
  text-transform: uppercase;
  font-size: var(--menu-text-size);

  @media screen and (min-width: 768px) {
    font-size: var(--contact-text-size);
  }
}

.list_desc {
  color: var(--secondary-color);
  font-size: var(--secondary-text-size);

  @media screen and (min-width: 768px) {
    font-size: var(--deskription-text-size);
  }
}
