.about_wrapper {
  width: 100%;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  padding-bottom: 80px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
  }

  @media screen and (min-width: 1440px) {
    width: 1440px;
  }
}

.title {
  font-size: var(--menu-text-size);
  color: var(--primary-color);
  text-transform: uppercase;
  margin-bottom: 16px;
}

.description {
  font-size: var(--third-text-size);
  color: var(--third-color);
  margin-bottom: 36px;

  @media screen and (min-width: 768px) {
    margin-bottom: 48px;
  }
}
