.about_wrapper {
  padding-top: 34px;
  padding-bottom: 80px;

  @media screen and (min-width: 768px) {
    padding-top: 100px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 78px;
  }
}

.container {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    padding-left: 86px;
    padding-right: 86px;
    width: 768px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-left: 112px;
    padding-right: 112px;
  }

  @media screen and (min-width: 1440px) {
    width: 1440px;
  }
}

.title {
  font-family: "Anzeigen Grotesk T", sans-serif;
  font-size: var(--menu-text-size);
  color: var(--primary-color);
  text-transform: uppercase;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;

  @media screen and (min-width: 768px) {
    font-size: var(--primary-text-size);
    width: 584px;
  }

  @media screen and (min-width: 1280px) {
    width: 700px;
    font-size: var(--title-text-size);
  }
}

.description {
  font-size: var(--deskription-text-size);
  color: var(--third-color);
  margin-bottom: 36px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;

  @media screen and (min-width: 768px) {
    margin-bottom: 48px;
    width: 584px;
    font-size: var(--menu-text-size);
  }

  @media screen and (min-width: 1280px) {
    width: 700px;
  }
}
