* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Anzeigen Grotesk T";
  src: url("/src/assets/fonts/anzeigen_grotesk_t.ttf") format("ttf");
  font-weight: 900;
  font-style: normal;
  line-height: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/Inter-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
  line-height: normal;
}

:root {
  --primary-text-size: 36px;
  --secondary-text-size: 16px;
  --third-text-size: 18px;
  --form-error: 14px;
  --title-text-size: 40px;
  --menu-text-size: 24px;
  --contact-text-size: 28px;
  --deskription-text-size: 20px;
  --title-tablet-text-size: 64px;
  --desc-tablet-text-size: 48px;
  --title-desktop-text-size: 88px;
  --desc-decktop-text-size: 56px;
  --desktop-text-size: 100px;

  --primary-color: #222222;
  --secondary-color: #fff;
  --third-color: #565148;
  --background-primary-color: #ffeff0;
  --background-secondary-color: #444;
  --background-third-color: #808080;
  --form-label-color: #949494;
  --from-input-color: #d2d2d2;
  --form-placeholder: #888;

  --accent-primary-color: #ed4b5e;

  --animation-hover: 0.5s ease-in-out;
  --scale-transform-hover: scale(1.1);
}

body {
  font-family: "Inter", sans-serif;
  font-size: var(--primary-text-size);
  letter-spacing: 0.5px;
  background-color: var(--secondary-color);
  margin: 0;
  width: 100vw;
  height: 100%;
}
